.work__container {
  background-color: #015a6a;
  position: relative;
  inset: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right, #80808012 1px, transparent 1px),
    linear-gradient(to bottom, #80808012 1px, transparent 1px);
  background-size: 100px 100px;
  margin-top: -1px;
}

.work-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  gap: 30px;
}

.work-grid-item-large {
  grid-column: span 2;
  @apply w-fit h-fit flex flex-col;
  background-color: #064d5a;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border: 1px solid #e8ecee;
}

.work-grid-item-large .workcard__img {
  @apply w-[1357px] h-[850px] p-3 rounded-xl;
  object-fit: cover;
}
